# Let's Learn how to connect Python to Database

In [8]:
import sqlite3
import pandas as pd

In [2]:
connection = sqlite3.connect('email.db') # This command checks access to the database
curr = connection.cursor() # This is kind of like cursor, this is where we send sql commands (Cursor is a generator)

In [33]:
# Dropping table if there's any existing tables in our database
curr.execute('''DROP TABLE IF EXISTS Counts ''') # No error means command executed successfully, it'd have thrown an error had there been some problem

In [34]:
# Creating our Table
curr.execute('CREATE TABLE Counts(email VARCHAR, fname VARCHAR, lname VARCHAR, money DECIMAL(5, 2), phone INT)')

In [35]:
orders = pd.read_csv('/Users/shivam.prasad/Documents/research_projects/jamii_codebase/ML/orders.csv')

In [36]:
for i in range(orders.shape[0]):
    first_name = orders.iloc[i]['billing_first_name']
    last_name = orders.iloc[i]['billing_last_name']
    email = orders.iloc[i]['billing_email']
    phone = orders.iloc[i]['billing_phone']
    amount = orders.iloc[i]['order_total']
    
    curr.execute('INSERT INTO Counts(email, fname, lname, money, phone) VALUES(?, ?, ?, ?, ?)', (email, first_name, last_name, amount, phone))

In [38]:
connection.commit()

In [40]:
for row in curr.execute('SELECT email as Email_ID, fname as First_Name, lname as Last_Name, money as Amount_Spent FROM Counts DESC LIMIT 10'):
    print(row)

('test@test.com', 'Vipul', 'Test', 69.17)
('aparham55@hotmail.com', 'Ash', 'Parham', 17.4)
('test@test.com', 'Vipul', 'Test', 45.32)
('roucarpetcare@gmai.com', 'Claudio', 'Ferreira', 66.78)
('dave@noxcusesfitness.com', 'Dave', 'Degeronimo', 19.08)
('vicdmartinez72@gmail.com', 'Victor', 'Martinez', 28.62)
('brandon.jaeg@gmail.com', 'Brandon', 'Jaeger', 56.87)
('dejesus.maggiee@gmail.com', 'Maggie', 'de Jesus', 8.35)
('alexjosephgagante@gmail.com', 'Alex Joseph', 'Gagante', 26.24)
('osza06@gmail.com', 'ORIN', 'ABELLANA', 22.66)

In [42]:
list(curr.execute('SELECT email as Email_ID, fname as First_Name, lname as Last_Name, money as Amount_Spent FROM Counts DESC LIMIT 10'))

[('test@test.com', 'Vipul', 'Test', 69.17),
 ('aparham55@hotmail.com', 'Ash', 'Parham', 17.4),
 ('test@test.com', 'Vipul', 'Test', 45.32),
 ('roucarpetcare@gmai.com', 'Claudio', 'Ferreira', 66.78),
 ('dave@noxcusesfitness.com', 'Dave', 'Degeronimo', 19.08),
 ('vicdmartinez72@gmail.com', 'Victor', 'Martinez', 28.62),
 ('brandon.jaeg@gmail.com', 'Brandon', 'Jaeger', 56.87),
 ('dejesus.maggiee@gmail.com', 'Maggie', 'de Jesus', 8.35),
 ('alexjosephgagante@gmail.com', 'Alex Joseph', 'Gagante', 26.24),
 ('osza06@gmail.com', 'ORIN', 'ABELLANA', 22.66)]